@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98.0392%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83.1933% 53.3333%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 92%;
    --secondary-foreground: 222 47% 11%;
    --muted: 220 18% 92%;
    --muted-foreground: 220 9% 46%;
    --accent: 213 96.9231% 87.2549%;
    --accent-foreground: 224 64.2857% 32.9412%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 15% 88%;
    --input: 220 15% 88%;
    --ring: 213 93.9024% 67.8431%;
    --radius: 1rem;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 172 66% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 40% 16%;
    --sidebar-accent-foreground: 210 40% 96%;
    --sidebar-border: 222 40% 16%;
    --sidebar-ring: 172 66% 50%;
    --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  .dark {
    --background: 222 47% 6%;
    --foreground: 210 40% 98%;
    --card: 222 47% 8%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 8%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 217 91% 60%;
    --sidebar-background: 222 47% 8%;
    --sidebar-foreground: 210 40% 96%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 32% 17%;
    --sidebar-accent-foreground: 210 40% 96%;
    --sidebar-border: 217 32% 17%;
    --sidebar-ring: 217 91% 60%;
    --radius: 1rem;
    --font-sans: Poppins, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}